:root {
  --font-family: 'DM sans', sans-serif;

  --color-dark-blue: #11131f;
  --color-light-green: #93abae;
  --color-linear-green: linear-gradient(to bottom, #bec7c2 0%, #a1b5ba 100%);
  --color-white: #f6f5ef;
  --color-blue-2: #1f212d;

  --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  scroll-behavior: smooth;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: var(--color-white);
  background-color: var(--color-dark-blue);
}

.section {
  padding: 40px 0;
}
@media only screen and (min-width: 768px) {
  .section {
    padding: 50px 0;
  }
}
@media only screen and (min-width: 1280px) {
  .section {
    padding: 82px 0;
  }
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
.logo-image {
  width: 16px;
  height: 18px;
  display: inline;
}
@media screen and (min-width: 768px) {
  .logo-image {
    width: 20px;
    height: 23px;
  }
}
.page-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.045em;
}
@media only screen and (min-width: 768px) {
  .page-title {
    font-size: 70px;
  }
}
@media only screen and (min-width: 1280px) {
  .page-title {
    font-size: 100px;
  }
}
.secondary-title-italic {
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.045em;
}

.section-title-span {
  font-style: italic;
  background-image: var(--color-linear-green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 768px) {
  .secondary-title-italic {
    font-size: 32px;
  }
}
.page-desc {
  color: var(--color-white);
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 768px) {
  .page-desc {
    font-size: 16px;
  }
}
.link {
  color: var(--color-white);
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
