/* about-section  */

.about-section-title {
  margin-bottom: 40px;
  margin-right: auto;
}

.about-section-list {
  display: flex;
  gap: 14px;
  margin-bottom: 40px;
}
.about-section-list-item {
  max-width: calc((100% - 14px) / 2);
}

.about-section-img-block-img1 {
  margin-bottom: 24px;
}

.about-section-img-block-img2 {
  margin-bottom: 24px;
}

.container-img3 {
  position: relative;
  display: block;
  max-width: 260px;
}

.about-section-img-block-img3 {
  position: absolute;
  z-index: -1;
  margin-left: 75px;
  width: 100%;

  -webkit-mask-image: var(--color-linear-green);
  mask-image: var(--color-linear-green);
}

@media only screen and (min-width: 768px) {
  .about-section-title {
    display: block;
    max-width: 514px;
  }
  .about-section-list {
    gap: 32px;
    justify-content: flex-end;
    margin-bottom: 64px;
  }
  .about-section-list-item {
    max-width: 183px;
  }

  .about-section-list-item:last-child {
    max-width: 185px;
  }

  .about-section-img-block-img1 {
    width: 704px;
    height: 631px;
    margin-bottom: 32px;
  }
  .about-section-img-block-img2 {
    margin-bottom: 0;
  }
  .about-section-img-block-img3 {
    margin-top: -96px;
    margin-left: 367px;
  }
}

@media only screen and (min-width: 1280px) {
  .about-section-desc-container {
    display: flex;
  }
  .about-section-title {
    max-width: 514px;
  }

  .about-section-img-block-img1 {
    width: 533px;
    height: 473px;
    margin-left: 372px;
  }

  .about-section-img-block-img2 {
    margin-top: -250px;
    margin-bottom: 0;
  }

  .about-section-img-block-img3 {
    margin-left: 372px;
    bottom: -185px;
  }
}
