/* FOOTER */
/* FOOTER LOGO */

.footer {
  padding-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 16px;
  }
}

.footer-container {
  padding-top: 41px;
  border-top: 1px solid rgba(246, 245, 239, 0.2);
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding-top: 64px;
  }
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    flex-direction: row;
    gap: 150px;
    margin-bottom: 100px;
  }
}

.footer-logo-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .footer-logo-block {
    align-items: flex-start;
  }
}

.footer-logo {
  display: block;

  color: var(--color-white, #f6f5ef);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    font-size: 18px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 1280px) {
  .footer-logo {
    margin-bottom: 0;
  }
}

/* FOOTER NAV */

.footer-nav-list {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .footer-nav-list {
    gap: 24px;
    align-items: center;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .footer-nav-list {
    flex-direction: row;
    align-items: start;
  }
}

.footer-nav-item {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* FOOTER SOCIAL LINKS */

.footer-subtitle {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}
.footer-social-list {
  display: flex;
  justify-content: left;
  gap: 14px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .footer-social-list {
    gap: 16px;
    margin-bottom: 0;
  }
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  border: 1px solid rgba(246, 245, 239, 0.5);
  border-radius: 6px;
}

/* HOVER, FOCUS */

.footer-social-icon {
  fill: var(--color-white, #f6f5ef);
  transition: all 0.3s ease;
  display: inline-block;
  -webkit-transition: fill 0.4s ease;
  -moz-transition: fill 0.4s ease;
  -o-transition: fill 0.4s ease;
  transition: fill 0.4s ease;
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
  fill: url(#gradient);
}

/* FOOTER COPYRIGHT */
.footer-copyright {
  display: flex;
  justify-content: center;
  gap: 14px;
}
.footer-copyright-item {
  color: rgba(92, 92, 92, 0.5);

  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.36px;
}

@media screen and (min-width: 768px) {
  .footer-copyright {
    gap: 32px;
  }
  .footer-copyright-item {
    letter-spacing: 0.42px;
  }
}

@media screen and (min-width: 768px) {
  .footer-copyright-item {
    font-size: 14px;
  }
}
