/* FOOTER */
/* FOOTER LOGO */

@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 16px;
  }
}

.footer-container {
  padding-top: 41px;
  padding-bottom: 14px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding-top: 64px;
    padding-bottom: 16px;
  }
}

.footer-line::before {
  content: '';
  display: block;

  position: absolute;

  width: 335px;
  height: 1px;
  top: 0;
  background-color: rgba(246, 245, 239, 0.2);
}

@media only screen and (min-width: 768px) {
  .footer-line::before {
    width: 704px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-line::before {
    width: 1216px;
  }
}

@media only screen and (max-width: 374px) {
  .footer-line::before {
    width: calc(100% - 40px);
  }
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    flex-direction: row;
    margin-bottom: 100px;
  }
}

.footer-logo-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .footer-logo-block {
    align-items: flex-start;
  }
}

.footer-logo {
  display: block;

  color: var(--color-white, #f6f5ef);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    font-size: 18px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 1280px) {
  .footer-logo {
    margin-bottom: 0;
  }
}

/* FOOTER NAV */

.footer-nav-list {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .footer-nav-list {
    gap: 24px;
    align-items: center;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .footer-nav-list {
    flex-direction: row;
    align-items: start;
  }
}

.footer-nav-item {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-nav-link {
  transition: color var(--anim-fast);
}
.footer-nav-link:hover,
.footer-nav-link:focus {
  color: var(--color-light-green);
}

/* FOOTER SOCIAL LINKS */

.footer-subtitle {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}
.footer-social-list {
  display: flex;
  justify-content: left;
  gap: 14px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .footer-social-list {
    gap: 16px;
    margin-bottom: 0;
  }
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  border: 1px solid rgba(246, 245, 239, 0.5);
  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  .footer-social-link {
    width: 40px;
    height: 40px;
  }
}
/* HOVER, FOCUS */

.footer-social-icon {
  fill: var(--color-white, #f6f5ef);
  display: inline-block;
  -webkit-transition: fill var(--anim-fast);
  -moz-transition: fill var(--anim-fast);
  -o-transition: fill var(--anim-fast);
  transition: fill var(--anim-fast);
}

@media screen and (min-width: 768px) {
  .footer-social-icon {
    width: 22px;
    height: 22px;
  }
}

.footer-social-link:hover,
.footer-social-link:focus {
  border-color: var(--color-light-green);
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
  fill: url(#gradient);
}

/* FOOTER COPYRIGHT */
.footer-copyright {
  display: flex;
  justify-content: center;
  gap: 14px;
}
.footer-copyright-item {
  color: rgba(246, 245, 239, 0.5);

  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .footer-copyright {
    gap: 32px;
  }
  .footer-copyright-item {
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) {
  .footer-copyright-item {
    font-size: 14px;
  }
}

.footer-container::after {
  content: '';
  width: 420px;
  height: 420px;
  top: 250px;
  right: -100px;
  background: #93abae;
  opacity: 0.6000000238418579;
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  transform: rotate(-45deg);
  z-index: -1;
}

.footer-container::before {
  content: '';
  width: 317px;
  height: 317px;
  top: 300px;
  right: 200px;
  background: #93abae;
  opacity: 0.6000000238418579;
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  transform: rotate(-45deg);
  z-index: -1;
  display: none;
}

@media screen and (min-width: 768px) {
  .footer-container::after {
    right: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-container::after {
    right: 600px;
  }

  .footer-container::before {
    display: block;
  }
}
