.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.7);
  transition: opacity var(--anim-fast), visibility var(--anim-fast);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-container {
  width: 100%;
  outline: blue 1px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  max-width: 100%;
  padding: 40px 24px;
  background: #1f212d;
  border-radius: 20px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transform: translate(-50%, -50%);
  transition: transform var(--anim-fast);
}

.modal-button {
  position: absolute;
  top: 19px;
  right: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
}

.modal-img {
  width: 287px;
  height: 149px;
  margin-bottom: 24px;
}

.modal-header {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.08px;

  margin-bottom: 14px;
}

.modal-text {
  width: 287px;
  height: 100px;
}

.modal::after {
  content: '';
  width: 142px;
  height: 142px;
  top: 70px;
  left: 100px;
  background: #91afba;
  opacity: 0.6000000238418579;
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  transform: rotate(-45deg);
  z-index: -1;
}

@media only screen and (min-width: 768px) {
  .modal {
    padding: 97px 64px 64px;
  }

  .modal-img {
    width: 338px;
    height: 198px;
    margin: 0 auto;
    margin-bottom: 21px;
  }

  .modal-header {
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -1.44px;

    margin-bottom: 16px;
  }

  .modal-text {
    width: 442px;
    height: 88px;
  }

  .modal::after {
    width: 265px;
    height: 265px;
    left: 150px;
  }
}
