.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.service-card {
  width: 335px;
  height: 335px;
  border-radius: 40px;
  position: relative;
}

.service-card:nth-child(1) {
  background-image: linear-gradient(
      0deg,
      rgba(17, 19, 31, 0.2) 0%,
      rgba(17, 19, 31, 0.2) 100%
    ),
    image-set(
      url(./img/services/diving@1x-mob.webp) 1x,
      url(./img/services/diving@2x-mob.webp) 2x
    );
}

.service-card:nth-child(2) {
  background-image: linear-gradient(
      0deg,
      rgba(17, 19, 31, 0.2) 0%,
      rgba(17, 19, 31, 0.2) 100%
    ),
    image-set(
      url(./img/services/fishing@1x-mob.webp) 1x,
      url(./img/services/fishing@2x-mob.webp) 2x
    );
}

.service-card:nth-child(3) {
  background-image: linear-gradient(
      0deg,
      rgba(17, 19, 31, 0.2) 0%,
      rgba(17, 19, 31, 0.2) 100%
    ),
    image-set(
      url(./img/services/sunbathing@1x-mob.webp) 1x,
      url(./img/services/sunbathing@2x-mob.webp) 2x
    );
}

.service-name {
  width: 95px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background-color: var(--color-white);
  position: absolute;
  bottom: 24px;
  left: 24px;

  color: var(--color-dark-blue);
  font-size: 14px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.63px;
}

@media only screen and (min-width: 768px) {
  .services-list {
    gap: 32px;
  }

  .service-name {
    bottom: 32px;
    left: 32px;

    letter-spacing: -0.81px;
  }

  .service-card:nth-child(1) {
    width: 704px;
    height: 632px;
    background-image: linear-gradient(
        0deg,
        rgba(17, 19, 31, 0.2) 0%,
        rgba(17, 19, 31, 0.2) 100%
      ),
      image-set(
        url(./img/services/diving@1x-tab.webp) 1x,
        url(./img/services/diving@2x-tab.webp) 2x
      );
  }

  .service-card:nth-child(2) {
    width: 400px;
    height: 389px;
    margin-left: auto;
    background-image: linear-gradient(
        0deg,
        rgba(17, 19, 31, 0.2) 0%,
        rgba(17, 19, 31, 0.2) 100%
      ),
      image-set(
        url(./img/services/fishing@1x-tab.webp) 1x,
        url(./img/services/fishing@2x-tab.webp) 2x
      );
  }

  .service-card:nth-child(3) {
    width: 380px;
    height: 352px;
    margin-left: 32px;
    background-image: linear-gradient(
        0deg,
        rgba(17, 19, 31, 0.2) 0%,
        rgba(17, 19, 31, 0.2) 100%
      ),
      image-set(
        url(./img/services/sunbathing@1x-tab.webp) 1x,
        url(./img/services/sunbathing@2x-tab.webp) 2x
      );
  }
}

@media only screen and (min-width: 1280px) {
  .services-list {
    gap: 64px;
  }

  .service-card:nth-child(1) {
    width: 712px;
    background-image: linear-gradient(
        0deg,
        rgba(17, 19, 31, 0.2) 0%,
        rgba(17, 19, 31, 0.2) 100%
      ),
      image-set(
        url(./img/services/diving@1x-desc.webp) 1x,
        url(./img/services/diving@2x-desc.webp) 2x
      );
  }

  .service-card:nth-child(2) {
    width: 440px;
    height: 428px;
    margin-top: auto;
    margin-left: auto;
    background-image: linear-gradient(
        0deg,
        rgba(17, 19, 31, 0.2) 0%,
        rgba(17, 19, 31, 0.2) 100%
      ),
      image-set(
        url(./img/services/fishing@1x-desc.webp) 1x,
        url(./img/services/fishing@2x-desc.webp) 2x
      );
  }

  .service-card:nth-child(3) {
    width: 436px;
    margin-left: 340px;
    background-image: linear-gradient(
        0deg,
        rgba(17, 19, 31, 0.2) 0%,
        rgba(17, 19, 31, 0.2) 100%
      ),
      image-set(
        url(./img/services/sunbathing@1x-desc.webp) 1x,
        url(./img/services/sunbathing@2x-desc.webp) 2x
      );
  }
}
