.yachts-section {
  padding-top: 0;
  padding-bottom: 164px;
}
.yacht-btn-div {
  display: flex;
  width: 335px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 80px;
}

.yachts-text {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1; /* 39.6px */
  letter-spacing: -1.62px;
}
.yachts-btn {
  display: flex;
  padding: 14px 28px;
  align-items: flex-start;
  gap: 10px;

  border-radius: 60px;
  border: 1px solid var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 18px;

  font-weight: 700;
  line-height: 1.1; /* 19.8px */
  letter-spacing: -0.81px;
}

.yacht-card-item {
  background: var(--blue-2, #1f212d);
  border-radius: 10%;
  width: 335px;
  height: 469px;
  flex-shrink: 0;
  display: inline-block;
  gap: 16px;
}

.yachts-name-right {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 16px;

  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.yachts-name-left {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 12px;

  font-weight: 400;
  line-height: 118%;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  opacity: 0.5;
}
.name-yacht-div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 144px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}
.yacht-info-name-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  margin-left: 24px;
}
.yacht-info-name-item {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 14px;

  font-weight: 400;
  line-height: 118%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  gap: 6px;
}

.yachts-info-title-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
}
.yacht-info-name-item {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 118%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.yacht-info-div {
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
}
.yachts-info-title-item {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 118%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  /* max-width: 177px;
  max-height: 19px; */
  white-space: nowrap;
}
.yacht-foto {
  justify-content: center;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
}
.yacht-img {
  width: 299px;
  height: 251px;
  flex-shrink: 0;
}
/* .card-2 {
  display: none;
}
.card-3 {
  display: none;
} */

/* SWIPER JS */

.swiper-main-container {
  width: 375px;
  height: 530px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  outline: 1px solid green;
}

.swiper-container {
  margin: 0 auto;
  padding: 0;
  width: 335px;
  height: 469px;
  position: relative;
}

.swiper {
  width: auto;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-slide {
}

.swiper-navigation {
  display: flex;
  gap: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: transparent;
  width: 46px;
  height: 36px;
  padding: 14px;
  border-radius: 60px;
  border: 1px solid var(--color-white);
}

.swiper-button-prev {
  top: 100%;
  left: 50%;
  transform: translateY(-50%);
}

.swiper-button-next {
  top: 100%;
  right: 50%;
  transform: translateY(-50%);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
  display: none;
}
