.yachts-section {
  padding-top: 0;
  padding-bottom: 164px;
}
.yacht-btn-div {
  display: flex;
  width: 335px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 80px;
}

.yachts-text {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1; /* 39.6px */
  letter-spacing: -1.62px;
}
@media screen and (min-width: 768px) {
  .yachts-text {
    font-size: 70px;
    letter-spacing: -3.15px;
  }
  .yacht-btn-div {
    display: flex;
    width: 640px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
  }
  .yacht-btn {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1; /* 19.8px */
    letter-spacing: -0.81px;
  }
}

@media screen and (min-width: 1280px) {
  .yachts-text {
    font-size: 100px;

    line-height: 110%; /* 110px */
    letter-spacing: -4.5px;
  }
  .yacht-btn-div {
    display: inline-flex;
    width: 882px;
    margin-left: 199px;
    margin-right: 199px;
  }
}
.yachts-btn {
  display: flex;
  padding: 14px 28px;
  align-items: flex-start;
  gap: 10px;

  border-radius: 60px;
  border: 1px solid var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 15.4px */
  letter-spacing: -0.63px;
}

.yacht-card-item {
  background: var(--blue-2, #1f212d);
  border-radius: 10%;
  width: 335px;
  height: 469px;
  flex-shrink: 0;
  display: inline-block;
  gap: 16px;
}

.yachts-name-right {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 16px;

  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.yachts-name-left {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 12px;

  font-weight: 400;
  line-height: 118%;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  opacity: 0.5;
}
.name-yacht-div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 144px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}
.yacht-info-name-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  margin-left: 24px;
}
.yacht-info-name-item {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 14px;

  font-weight: 400;
  line-height: 118%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  gap: 6px;
}

.yachts-info-title-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
}
.yacht-info-name-item {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 118%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.yacht-info-div {
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
}
.yachts-info-title-item {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 118%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  /* max-width: 177px;
  max-height: 19px; */
  white-space: nowrap;
}
.yacht-foto {
  justify-content: center;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
}
.yacht-img {
  width: 299px;
  height: 251px;
  flex-shrink: 0;
}
