.yachts-section {
  padding-top: 0;
  padding-bottom: 164px;
  position: relative;
}

@media only screen and (min-width: 1280px) {
  .yacht-container {
    max-width: 1180px;
  }
}

.yacht-btn-div {
  display: flex;
  max-width: 335px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .yacht-btn-div {
    max-width: 641px;
    margin: 0 auto 100px;
  }
}
@media only screen and (min-width: 1280px) {
  .yacht-btn-div {
    max-width: 882px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 164px;
  }
}
.yachts-text {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.045em;
}
@media only screen and (min-width: 768px) {
  .yachts-text {
    font-size: 70px;
  }
}
@media only screen and (min-width: 1280px) {
  .yachts-text {
    font-size: 100px;
  }
}
.yachts-btn {
  padding: 14px 28px;
  border-radius: 60px;
  border: 1px solid var(--color-white);

  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.06em;

  transition: border-color var(--anim-fast), color var(--anim-fast);
}
.yachts-btn:hover,
.yachts-btn:focus {
  color: var(--light-green);
  border-color: var(--light-green);
}

.yacht-card-item {
  padding: 16px 16px 32px 16px;
  background: var(--blue-2, #1f212d);
  border-radius: 10%;
  width: 335px;
  min-height: 469px;
  flex-shrink: 0;
  display: inline-block;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .yacht-card-item {
    min-height: 508px;
  }
}

.yachts-name-card {
  padding: 0 8px;
}

@media only screen and (min-width: 768px) {
  .yacht-card-item {
    padding: 16px 16px 0;
    width: 100%;
  }
}

.yachts-name-right {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 16px;

  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.yachts-name-left {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 12px;

  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  opacity: 0.5;
}
.name-yacht-div {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  width: 100%;
}
.yacht-info-name-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.yacht-info-name-item {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 14px;

  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  gap: 6px;
}

.yachts-info-title-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
}
.yacht-info-name-item {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.yacht-info-div {
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
}
.yachts-info-title-item {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 160px;
}
.yacht-foto {
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .yacht-foto {
    margin-bottom: 32px;
  }
}

.yacht-img {
  width: 100%;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .yacht-img {
    margin-bottom: 32px;
  }
}

/* SWIPER JS */

.swiper-main-container {
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.swiper-container {
  margin: 0 auto;
  padding: 0;
  margin-bottom: 24px;

  height: 469px;
  position: relative;
}

.swiper {
  width: auto;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-navigation {
  justify-content: center;
  display: flex;
  gap: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
}

@media only screen and (min-width: 768px) {
  .swiper-navigation {
    gap: 16px;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
  display: none;
}

.swiper-navigation .swiper-button-prev {
  position: static;
  background-color: transparent;
  display: block;

  width: 46px;
  height: 36px;
  padding: 0 14px;

  fill: var(--color-white);
  border-radius: 60px;
  border: 1px solid var(--color-white);
}

@media only screen and (min-width: 1280px) {
  .swiper-navigation .swiper-button-prev {
    position: absolute;
    left: -61px;
  }
}

.swiper-navigation .swiper-button-next {
  background-color: transparent;
  position: static;
  display: block;

  width: 46px;
  height: 36px;
  padding: 0 14px;

  fill: var(--color-white);
  border-radius: 60px;
  border: 1px solid var(--color-white);
}

@media only screen and (min-width: 1280px) {
  .swiper-navigation .swiper-button-next {
    position: absolute;
    right: -61px;
  }
}

.yacht-container::after {
  content: '';
  top: -40px;
  left: -40px;
  width: 255px;
  height: 255px;
  opacity: 0.6000000238418579;
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  background: #91afba;
  transform: rotate(-45deg);
  z-index: -1;
}

.yacht-container::before {
  content: '';
  top: -40px;
  right: -20px;
  width: 195px;
  height: 195px;
  opacity: 0.30000001192092896;
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  background: #939cac;
  transform: rotate(-45deg);
  z-index: -1;
}

@media only screen and (min-width: 768px) {
  .yacht-container::after {
    top: -110px;
    left: 40px;
    width: 399px;
    height: 399px;
    opacity: 0.6000000238418579;
  }

  .yacht-container::before {
    top: 0;
    right: 80px;
    width: 195px;
    height: 195px;
    opacity: 0.50000001192092896;
    background: #a6a9b2;
  }
}

@media only screen and (min-width: 1280px) {
  .yacht-container::after {
    top: 0;
    left: 224px;
    width: 414px;
    height: 414px;
    opacity: 0.6000000238418579;
  }

  .yacht-container::before {
    top: 0;
    right: 213px;
    width: 316px;
    height: 316px;
    opacity: 0.30000001192092896;
  }

  .yachts-background {
    position: absolute;
    opacity: 0.2;
    left: 110px;
    top: 0;
    width: 100%;
    height: 1611.22px;
    transform: rotate(-7deg);
    background-image: url('/img/background-vectors.png');
    background-repeat: no-repeat;
  }
}
