<header class="header">
  <div class="container">
    <div class="header-container" id="header">
      <a href="index.html" class="header-logo link">
        <img
          class="logo-image"
          src="../img/logo/logo.png"
          alt="Logo"
          width="16"
          height="18"
        />
        yaht Adventures</a
      >
      <nav class="page-nav">
        <ul class="nav-list">
          <li><a href="#about" class="link">About</a></li>
          <li><a href="#yahts" class="link">Yahts</a></li>
          <li><a href="#reviews" class="link">Reviews</a></li>
        </ul>
      </nav>
      <button class="menu-toggle js-open-menu">
        <svg class="menu-toggle-icon" width="24" height="24">
          <use href="/img/icons.svg#burger-menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
