<!-- Hero section -->
<section>
  <div class="container hero-container">
    <!-- hero text -->
    <div>
      <h1 class="main-title">
        Explore the High Seas with
        <span class="linear-green">Our Luxury Yacht</span> Rentals
      </h1>
      <p class="main-text">
        Experience the freedom and luxury of yachting on the open seas. Choose
        from our top-of-the-line yachts and embark on an unforgettable journey
        surrounded by breathtaking views and state-of-the-art amenities.
      </p>
      <!-- buttons -->
      <div class="hero-button-box">
        <a href="#yahts"
          ><button type="button" class="start-button">Get Started</button></a
        >
        <a href="#services" class="explore-button">Explore</a>
      </div>
    </div>
    <!-- hero image -->
    <div class="hero-img-box">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="
            ../img/hero/rectangle@1x-mobile.webp 1x,
            ../img/hero/rectangle@2x-mobile.webp 2x
          "
        />
        <source
          media="(min-width: 768px) and (max-width: 1279px)"
          srcset="
            ../img/hero/rectangle@1x-tablet.webp 1x,
            ../img/hero/rectangle@2x-tablet.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ../img/hero/rectangle@1x-laptop.webp 1x,
            ../img/hero/rectangle@2x-laptop.webp 2x
          "
        />
        <img
          src="../img/hero/rectangle@1x-mobile.webp"
          alt="hero-img"
          width="335"
          height="427"
          class="tech-img hero-img"
        />
      </picture>
      <div class="hero-clients-block">
        <div class="hero-clients-img">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/hero/client-1@1x-mob.webp 1x,
                ../img/hero/client-1@2x-mob.webp 2x
              "
            />
            <source
              media="(min-width: 768px) and (max-width: 1279px)"
              srcset="
                ../img/hero/client-1@1x-tab.webp 1x,
                ../img/hero/client-1@2x-tab.webp 2x
              "
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ../img/hero/client-1@1x-desc.webp 1x,
                ../img/hero/client-1@2x-desc.webp 2x
              "
            />
            <img
              src="../img/hero/client-1@1x-mob.webp"
              alt="John Wax"
              width="48"
              height="48"
              class="tech-img clients-img first-client"
            />
          </picture>
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/hero/client-2@1x-mob.webp 1x,
                ../img/hero/client-2@2x-mob.webp 2x
              "
            />
            <source
              media="(min-width: 768px) and (max-width: 1279px)"
              srcset="
                ../img/hero/client-2@1x-tab.webp 1x,
                ../img/hero/client-2@2x-tab.webp 2x
              "
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ../img/hero/client-2@1x-desc.webp 1x,
                ../img/hero/client-2@2x-desc.webp 2x
              "
            />
            <img
              src="../img/hero/client-2@1x-mob.webp"
              alt="Victoria Romashenko"
              width="48"
              height="48"
              class="tech-img clients-img second-client"
            />
          </picture>
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/hero/client-3@1x-mob.webp 1x,
                ../img/hero/client-3@2x-mob.webp 2x
              "
            />
            <source
              media="(min-width: 768px) and (max-width: 1279px)"
              srcset="
                ../img/hero/client-3@1x-tab.webp 1x,
                ../img/hero/client-3@2x-tab.webp 2x
              "
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ../img/hero/client-3@1x-desc.webp 1x,
                ../img/hero/client-3@2x-desc.webp 2x
              "
            />
            <img
              src="../img/hero/client-3@1x-mob.webp"
              alt="Ihor Trachuk"
              width="48"
              height="48"
              class="tech-img clients-img third-client"
            />
          </picture>
        </div>
        <p class="hero-client-title">Our clients</p>
      </div>
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="
            ../img/hero/hero-man@1x-mob.webp 1x,
            ../img/hero/hero-man@2x-mob.webp 2x
          "
        />
        <source
          media="(min-width: 768px) and (max-width: 1279px)"
          srcset="
            ../img/hero/hero-man@1x-tab.webp 1x,
            ../img/hero/hero-man@2x-tab.webp 2x
          "
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ../img/hero/hero-man@1x-desc.webp 1x,
            ../img/hero/hero-man@2x-desc.webp 2x
          "
        />
        <img
          src="../img/hero/hero-man@1x-mob.webp"
          alt="CEO"
          width="133"
          height="133"
          class="tech-img hero-img-ceo"
        />
      </picture>
      <div class="hero-img-yacht">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/hero/hero-yaht@1x-mob.webp 1x,
              ../img/hero/hero-yaht@2x-mob.webp 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              ../img/hero/hero-yaht@1x-tab.webp 1x,
              ../img/hero/hero-yaht@2x-tab.webp 2x
            "
          />

          <source
            srcset="
              ../img/hero/hero-yaht@1x-desc.webp 1x,
              ./img/hero/hero-yaht@2x-desc.webp  2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <img
            src="../img/hero/hero-yaht@1x-mob.webp"
            alt="Yacht"
            width="287"
            height="167"
            class="tech-img yacht-img"
          />
        </picture>
        <div class="hero-img-text">
          <p class="first-part">$12M</p>
          <p class="second-part">
            Book now and make your dream yacht rental a reality
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
