<!-- Mobile menu -->
<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="container">
    <div class="header-container">
      <a href="index.html" class="header-logo link">
        <img
          class="logo-image"
          src="./img/logo/logo.png"
          alt="Logo"
          width="16"
          height="18"
        />
        yaht Adventures</a
      >
      <button class="menu-button js-close-menu">
        <svg class="menu-icon" width="24" height="24">
          <use href="/img/icons.svg#close-button"></use>
        </svg>
      </button>
    </div>
    <nav class="mob-nav">
      <ul class="mob-nav-list">
        <li><a href="#about" class="link">About</a></li>
        <li><a href="#yahts" class="link">Yahts</a></li>
        <li><a href="#reviews" class="link">Reviews</a></li>
      </ul>
    </nav>
  </div>
</div>
