<section class="reviews section" id="reviews">
  <div class="container">
    <h2 class="reviews-title secondary-title-italic">
      Yaht Adventures take pride in providing the best possible service and
      experience to our customers
    </h2>
    <p class="reviwes-desc page-desc">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>
    <div class="reviews-thumb">
      <img
        class="reviews-img img"
        src="#"
        alt="smiling man"
        width="48"
        height="48"
      />
      <h3 class="clients-name">John Wax</h3>
      <p class="reviews-clients-story">
        I rented the Lagoon 620 with my family for a week-long vacation and it
        was the best decision ever. The yacht was spacious, comfortable, and
        luxurious, and the crew took care of everything.
      </p>
    </div>
    <div class="reviews-thumb">
      <img
        class="reviews-img img"
        src="#"
        alt="female in white clothes"
        width="48"
        height="48"
      />
      <h3 class="clients-name">Victoria Romashenko</h3>
      <p class="reviews-clients-story">
        The Sunseeker Manhattan 66 was the perfect choice for our romantic
        getaway. The yacht was beautifully designed, with all the amenities we
        needed, and the crew was attentive and friendly.
      </p>
    </div>
    <div class="reviews-thumb">
      <img
        class="reviews-img img"
        src="#"
        alt="man with beard and crossed hadns"
        width="48"
        height="48"
      />
      <h3 class="clients-name">Ihor Trachuk</h3>
      <p class="reviews-clients-story">
        The Azimut 80 was the most luxurious yacht I've ever been on. The cabins
        were spacious and elegant, and the outdoor areas were perfect for
        relaxing and entertaining. Worth every penny!
      </p>
    </div>
    <ul class="swiper-list list">
      <li class="swiper-item"></li>
      <li class="swiper-item"></li>
      <li class="swiper-item"></li>
    </ul>
    <div class="bth-box">
      <a class="back-to-home" href="#">
        <svg class="bth-icon" width="8" height="16">
          <use href="/img/icons.svg#arrow-up"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
