<!-- Services section -->
<section class="services-section section" id="services">
  <div class="services-container container">
    <h2 class="visually-hidden">Services</h2>
    <ul class="services-list list">
      <li class="service-card">
        <p class="service-name">Diving</p>
      </li>
      <li class="service-card">
        <p class="service-name">Fishing</p>
      </li>
      <li class="service-card">
        <p class="service-name">Sunbathing</p>
      </li>
    </ul>
    <div class="services-circle circle"></div>
  </div>
</section>
