<section class="yachts-section">
  <div class="yacht-container">
    <h2 class="yachts-text">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <button class="yachts-btn" type="button">Yacht rental</button>
    <div class="yacht-card-div">
      <ul class="yacht-card-list">
        <li class="yacht-card-item">
          <picture
            ><source srcset="" />
            <img src="" alt="" width=" 322" class="yacht-card-img" />
          </picture>
          <div class="yachts-name-card">
            <h5>Arrow</h5>
            <h5>LUXURY YAHTS</h5>
          </div>
        </li>
        <li class="yacht-card-item">
          <picture
            ><source srcset="" />
            <img src="" alt="" width=" 322" class="yacht-card-img" />
          </picture>
        </li>
        <li class="yacht-card-item">
          <picture
            ><source srcset="" />
            <img src="" alt="" width=" 322" class="yacht-card-img" />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
