<section class="yachts-section section" id="yahts">
  <div class="yacht-container container">
    <div class="yacht-btn-div">
      <h2 class="visually-hidden">Our Yachts</h2>
      <p class="page-title">
        Choose your dream yacht and sail away into the sunset
      </p>
      <a href="#rent" class="yachts-btn">Yacht rental</a>
    </div>

    <div class="swiper-container container">
      <div class="swiper" id="swiper-yahts">
        <ul class="yacht-card-list list swiper-wrapper">
          <!-- SLIDE 1 -->

          <li class="yacht-card-item swiper-slide">
            <picture class="yacht-img-box">
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/yaht-card/arrow@1x-mob.webp 1x,
                  ./img/yaht-card/arrow@2x-mob.webp 2x
                "
              />
              <source
                media="(min-width: 768px) and (max-width: 1279px)"
                srcset="
                  ./img/yaht-card/arrow@1x-tab.webp 1x,
                  ./img/yaht-card/arrow@2x-tab.webp 2x
                "
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/yaht-card/arrow@1x-desc.webp 1x,
                  ./img/yaht-card/arrow@2x-desc.webp 2x
                "
              />
              <img
                src="./img/yaht-card/arrow@1x-mob.webp"
                alt="yacht"
                width="299"
                height="251"
                class="yacht-img"
              />
            </picture>

            <div class="yachts-name-card">
              <div class="name-yacht-div">
                <h3 class="yachts-name-right">ARROW</h3>
                <h3 class="yachts-name-left">LUXURY YAHTS</h3>
              </div>
              <div class="yacht-info-div">
                <ul class="yacht-info-name-list">
                  <li class="yacht-info-name-item">LENGTH</li>
                  <li class="yacht-info-name-item">BUILDER</li>
                  <li class="yacht-info-name-item">BUILT</li>
                  <li class="yacht-info-name-item">GUESTS</li>
                  <li class="yacht-info-name-item">PRICE</li>
                </ul>
                <ul class="yachts-info-title-list">
                  <li class="yachts-info-title-item">48m(155ft)</li>
                  <li class="yachts-info-title-item">Admiral</li>
                  <li class="yachts-info-title-item">2021</li>
                  <li class="yachts-info-title-item">1 in 5 cabins</li>
                  <li class="yachts-info-title-item">€33,500,000</li>
                </ul>
              </div>
            </div>
          </li>

          <!-- SLIDE 2 -->

          <li class="yacht-card-item swiper-slide">
            <picture class="yacht-img-box">
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/yaht-card/benetti@1x-mob.webp 1x,
                  ./img/yaht-card/benetti@2x-mob.webp 2x
                "
              />
              <source
                media="(min-width: 768px) and (max-width: 1279px)"
                srcset="
                  ./img/yaht-card/benetti@1x-tab.webp 1x,
                  ./img/yaht-card/benetti@2x-tab.webp 2x
                "
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/yaht-card/benetti@1x-desc.webp 1x,
                  ./img/yaht-card/benetti@2x-desc.webp 2x
                "
              />
              <img
                src="./img/yaht-card/benetti@1x-mob.webp"
                alt="yacht"
                width="322"
                height="268"
                class="yacht-img"
              />
            </picture>

            <div class="yachts-name-card">
              <div class="name-yacht-div">
                <h3 class="yachts-name-right text-overflow">
                  BENETTI OASIS 40M BO122
                </h3>
                <h3 class="yachts-name-left">LUXURY YAHTS</h3>
              </div>
              <div class="yacht-info-div">
                <ul class="yacht-info-name-list">
                  <li class="yacht-info-name-item">LENGTH</li>
                  <li class="yacht-info-name-item">BUILDER</li>
                  <li class="yacht-info-name-item">BUILT</li>
                  <li class="yacht-info-name-item">GUESTS</li>
                  <li class="yacht-info-name-item">PRICE</li>
                </ul>
                <ul class="yachts-info-title-list">
                  <li class="yachts-info-title-item">41m (133ft)</li>
                  <li class="yachts-info-title-item">Benetti</li>
                  <li class="yachts-info-title-item">2025</li>
                  <li class="yachts-info-title-item">10 in 5 cabins</li>
                  <li class="yachts-info-title-item">€23,210,000</li>
                </ul>
              </div>
            </div>
          </li>

          <!-- SLIDE 3 -->

          <li class="yacht-card-item swiper-slide">
            <picture class="yacht-img-box">
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/yaht-card/belle-anna@1x-mob.webp 1x,
                  ./img/yaht-card/belle-anna@2x-mob.webp 2x
                "
              />
              <source
                media="(min-width: 768px) and (max-width: 1279px)"
                srcset="
                  ./img/yaht-card/belle-anna@1x-tab.webp 1x,
                  ./img/yaht-card/belle-anna@2x-tab.webp 2x
                "
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/yaht-card/belle-anna@1x-desc.webp 1x,
                  ./img/yaht-card/belle-anna@2x-desc.webp 2x
                "
              />
              <img
                src="./img/yaht-card/belle-anna@1x-mob.webp"
                alt="yacht"
                width="322"
                height="268"
                class="yacht-img"
              />
            </picture>

            <div class="yachts-name-card">
              <div class="name-yacht-div">
                <h3 class="yachts-name-right">BELLE ANNA</h3>
                <h3 class="yachts-name-left">LUXURY YAHTS</h3>
              </div>
              <div class="yacht-info-div">
                <ul class="yacht-info-name-list">
                  <li class="yacht-info-name-item">LENGTH</li>
                  <li class="yacht-info-name-item">BUILDER</li>
                  <li class="yacht-info-name-item">BUILT</li>
                  <li class="yacht-info-name-item">GUESTS</li>
                  <li class="yacht-info-name-item">PRICE</li>
                </ul>
                <ul class="yachts-info-title-list">
                  <li class="yachts-info-title-item">50m(155ft)</li>
                  <li class="yachts-info-title-item">ISA</li>
                  <li class="yachts-info-title-item">2012</li>
                  <li class="yachts-info-title-item">12 in 6 cabins</li>

                  <li class="yachts-info-title-item">€21,000,000</li>
                </ul>
              </div>
            </div>
          </li>

          <!-- SLIDE 4 -->

          <li class="yacht-card-item swiper-slide">
            <picture class="yacht-img-box">
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/yaht-card/ellen@1x-mob.webp 1x,
                  ./img/yaht-card/ellen@2x-mob.webp 2x
                "
              />
              <source
                media="(min-width: 768px) and (max-width: 1279px)"
                srcset="
                  ./img/yaht-card/ellen@1x-tab.webp 1x,
                  ./img/yaht-card/ellen@2x-tab.webp 2x
                "
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/yaht-card/ellen@1x-desc.webp 1x,
                  ./img/yaht-card/ellen@2x-desc.webp 2x
                "
              />
              <img
                src="./img/yaht-card/ellen@1x-mob.webp"
                alt="yacht"
                width="322"
                height="268"
                class="yacht-img"
              />
            </picture>

            <div class="yachts-name-card">
              <div class="name-yacht-div">
                <h3 class="yachts-name-right">Ellen</h3>
                <h3 class="yachts-name-left">LUXURY YAHTS</h3>
              </div>
              <div class="yacht-info-div">
                <ul class="yacht-info-name-list">
                  <li class="yacht-info-name-item">LENGTH</li>
                  <li class="yacht-info-name-item">BUILDER</li>
                  <li class="yacht-info-name-item">BUILT</li>
                  <li class="yacht-info-name-item">GUESTS</li>
                  <li class="yacht-info-name-item">PRICE</li>
                </ul>
                <ul class="yachts-info-title-list">
                  <li class="yachts-info-title-item">40m (132ft)</li>
                  <li class="yachts-info-title-item">Perini Navi</li>
                  <li class="yachts-info-title-item">2001 / 2016 (refitted)</li>
                  <li class="yachts-info-title-item">9 in 4 cabins</li>
                  <li class="yachts-info-title-item">€9,300,000</li>
                </ul>
              </div>
            </div>
          </li>

          <!-- SLIDE 5 -->

          <li class="yacht-card-item swiper-slide">
            <picture class="yacht-img-box">
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/yaht-card/mirage@1x-mob.webp 1x,
                  ./img/yaht-card/mirage@2x-mob.webp 2x
                "
              />
              <source
                media="(min-width: 768px) and (max-width: 1279px)"
                srcset="
                  ./img/yaht-card/mirage@1x-tab.webp 1x,
                  ./img/yaht-card/mirage@2x-tab.webp 2x
                "
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/yaht-card/mirage@1x-desc.webp 1x,
                  ./img/yaht-card/mirage@2x-desc.webp 2x
                "
              />
              <img
                src="./img/yaht-card/mirage@1x-mob.webp"
                alt="yacht"
                width="322"
                height="268"
                class="yacht-img"
              />
            </picture>

            <div class="yachts-name-card">
              <div class="name-yacht-div">
                <h3 class="yachts-name-right">MIRAGE 401</h3>
                <h3 class="yachts-name-left">LUXURY YAHTS</h3>
              </div>
              <div class="yacht-info-div">
                <ul class="yacht-info-name-list">
                  <li class="yacht-info-name-item">LENGTH</li>
                  <li class="yacht-info-name-item">BUILDER</li>
                  <li class="yacht-info-name-item">BUILT</li>
                  <li class="yacht-info-name-item">GUESTS</li>
                  <li class="yacht-info-name-item">PRICE</li>
                </ul>
                <ul class="yachts-info-title-list">
                  <li class="yachts-info-title-item">38m (125ft)</li>
                  <li class="yachts-info-title-item">Gianetti Custom Yachts</li>
                  <li class="yachts-info-title-item">2024</li>
                  <li class="yachts-info-title-item">10 in 5 cabins</li>
                  <li class="yachts-info-title-item">€13,500,000</li>
                </ul>
              </div>
            </div>
          </li>

          <!-- SLIDE 6 -->

          <li class="yacht-card-item swiper-slide">
            <picture class="yacht-img-box">
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/yaht-card/king@1x-mob.webp 1x,
                  ./img/yaht-card/king@2x-mob.webp 2x
                "
              />
              <source
                media="(min-width: 768px) and (max-width: 1279px)"
                srcset="
                  ./img/yaht-card/king@1x-tab.webp 1x,
                  ./img/yaht-card/king@2x-tab.webp 2x
                "
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/yaht-card/king@1x-desc.webp 1x,
                  ./img/yaht-card/king@2x-desc.webp 2x
                "
              />
              <img
                src="./img/yaht-card/king@1x-mob.webp"
                alt="yacht"
                width="322"
                height="268"
                class="yacht-img"
              />
            </picture>

            <div class="yachts-name-card">
              <div class="name-yacht-div">
                <h3 class="yachts-name-right">KING</h3>
                <h3 class="yachts-name-left">LUXURY YAHTS</h3>
              </div>
              <div class="yacht-info-div">
                <ul class="yacht-info-name-list">
                  <li class="yacht-info-name-item">LENGTH</li>
                  <li class="yacht-info-name-item">BUILDER</li>
                  <li class="yacht-info-name-item">BUILT</li>
                  <li class="yacht-info-name-item">GUESTS</li>
                  <li class="yacht-info-name-item">PRICE</li>
                </ul>
                <ul class="yachts-info-title-list">
                  <li class="yachts-info-title-item">33m (109ft)</li>
                  <li class="yachts-info-title-item">Overmarine</li>
                  <li class="yachts-info-title-item">2004 / 2018 (refitted)</li>
                  <li class="yachts-info-title-item">9 in 4 cabins</li>
                  <li class="yachts-info-title-item">€1,850,000</li>
                </ul>
              </div>
            </div>
          </li>

          <!-- SLIDE 7 -->

          <li class="yacht-card-item swiper-slide">
            <picture class="yacht-img-box">
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/yaht-card/salt@1x-mob.webp 1x,
                  ./img/yaht-card/salt@2x-mob.webp 2x
                "
              />
              <source
                media="(min-width: 768px) and (max-width: 1279px)"
                srcset="
                  ./img/yaht-card/salt@1x-tab.webp 1x,
                  ./img/yaht-card/salt@2x-tab.webp 2x
                "
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/yaht-card/salt@1x-desc.webp 1x,
                  ./img/yaht-card/salt@2x-desc.webp 2x
                "
              />
              <img
                src="./img/yaht-card/salt@1x-mob.webp"
                alt="yacht"
                width="322"
                height="268"
                class="yacht-img"
              />
            </picture>

            <div class="yachts-name-card">
              <div class="name-yacht-div">
                <h3 class="yachts-name-right">SALT</h3>
                <h3 class="yachts-name-left">LUXURY YAHTS</h3>
              </div>
              <div class="yacht-info-div">
                <ul class="yacht-info-name-list">
                  <li class="yacht-info-name-item">LENGTH</li>
                  <li class="yacht-info-name-item">BUILDER</li>
                  <li class="yacht-info-name-item">BUILT</li>
                  <li class="yacht-info-name-item">GUESTS</li>
                  <li class="yacht-info-name-item">PRICE</li>
                </ul>
                <ul class="yachts-info-title-list">
                  <li class="yachts-info-title-item">32m (105ft)</li>
                  <li class="yachts-info-title-item">SanLorenzo</li>
                  <li class="yachts-info-title-item">2019</li>
                  <li class="yachts-info-title-item">11 in 5 cabins</li>
                  <li class="yachts-info-title-item">€7,800,000</li>
                </ul>
              </div>
            </div>
          </li>

          <!-- SLIDE 8 -->

          <li class="yacht-card-item swiper-slide">
            <picture class="yacht-img-box">
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/yaht-card/belle-anna@1x-mob.webp 1x,
                  ./img/yaht-card/belle-anna@2x-mob.webp 2x
                "
              />
              <source
                media="(min-width: 768px) and (max-width: 1279px)"
                srcset="
                  ./img/yaht-card/storm@1x-tab.webp 1x,
                  ./img/yaht-card/storm@2x-tab.webp 2x
                "
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/yaht-card/storm@1x-desc.webp 1x,
                  ./img/yaht-card/storm@2x-desc.webp 2x
                "
              />
              <img
                src="./img/yaht-card/storm@1x-mob.webp"
                alt="yacht"
                width="322"
                height="268"
                class="yacht-img"
              />
            </picture>

            <div class="yachts-name-card">
              <div class="name-yacht-div">
                <h3 class="yachts-name-right">STORM</h3>
                <h3 class="yachts-name-left">LUXURY YAHTS</h3>
              </div>
              <div class="yacht-info-div">
                <ul class="yacht-info-name-list">
                  <li class="yacht-info-name-item">LENGTH</li>
                  <li class="yacht-info-name-item">BUILDER</li>
                  <li class="yacht-info-name-item">BUILT</li>
                  <li class="yacht-info-name-item">GUESTS</li>
                  <li class="yacht-info-name-item">PRICE</li>
                </ul>
                <ul class="yachts-info-title-list">
                  <li class="yachts-info-title-item">32m (103ft)</li>
                  <li class="yachts-info-title-item">Overmarine</li>
                  <li class="yachts-info-title-item">2005 / 2022 (refitted)</li>
                  <li class="yachts-info-title-item">9 in 4 cabins</li>
                  <li class="yachts-info-title-item">€2,900,000</li>
                </ul>
              </div>
            </div>
          </li>

          <!-- SLIDE 9 -->

          <li class="yacht-card-item swiper-slide">
            <picture class="yacht-img-box">
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/yaht-card/collu@1x-mob.webp 1x,
                  ./img/yaht-card/collu@2x-mob.webp 2x
                "
              />
              <source
                media="(min-width: 768px) and (max-width: 1279px)"
                srcset="
                  ./img/yaht-card/collu@1x-tab.webp 1x,
                  ./img/yaht-card/collu@2x-tab.webp 2x
                "
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/yaht-card/collu@1x-desc.webp 1x,
                  ./img/yaht-card/collu@2x-desc.webp 2x
                "
              />
              <img
                src="./img/yaht-card/collu@1x-mob.webp"
                alt="yacht"
                width="322"
                height="268"
                class="yacht-img"
              />
            </picture>

            <div class="yachts-name-card">
              <div class="name-yacht-div">
                <h3 class="yachts-name-right">COLLU</h3>
                <h3 class="yachts-name-left">LUXURY YAHTS</h3>
              </div>
              <div class="yacht-info-div">
                <ul class="yacht-info-name-list">
                  <li class="yacht-info-name-item">LENGTH</li>
                  <li class="yacht-info-name-item">BUILDER</li>
                  <li class="yacht-info-name-item">BUILT</li>
                  <li class="yacht-info-name-item">GUESTS</li>
                  <li class="yacht-info-name-item">PRICE</li>
                </ul>
                <ul class="yachts-info-title-list">
                  <li class="yachts-info-title-item">29m (96ft)</li>
                  <li class="yachts-info-title-item">Ferretti</li>
                  <li class="yachts-info-title-item">2014</li>
                  <li class="yachts-info-title-item">10 in 5 cabins</li>
                  <li class="yachts-info-title-item">$4,300,000</li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <!-- BUTTONS -->
      <div class="swiper-navigation">
        <button id="swiper-button-prev" class="swiper-button-prev">
          <svg class="swiper-prev-icon" width="18" height="8">
            <use href="./img/icons.svg#arrow-left"></use>
          </svg>
        </button>
        <button class="swiper-button-next">
          <svg class="swiper-next-icon" width="18" height="8">
            <use href="./img/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="yachts-circle1 circle"></div>
    <div class="yachts-circle2 circle"></div>
  </div>
  <div class="yachts-background"></div>
</section>
