<section class="yachts-section" id="yahts">
  <div class="yacht-container container">
    
    <h2 class="yachts-text">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <button class="yachts-btn" type="button">Yacht rental</button>
    <div class="yacht-card-div">
      <ul class="yacht-card-list">
        <li class="yacht-card-item">
         
          <div class="yachts-name-card">
            <div class="yacht-bg"></div>
            <div class="name-yacht-div">
              
            <h3 class="yachts-name-right">ARROW</h3>
            <h3 class="yachts-name-left">LUXURY YAHTS</h3>
            </div>
            <div class="yacht-info-div">
            <ul class="yacht-info-name-list">
              <li class="yacht-info-name-item">
                LENGTH
              </li>
              <li class="yacht-info-name-item">
                BUILDER
              </li>
              <li class="yacht-info-name-item">
                BUILT
              </li>
              <li class="yacht-info-name-item">
                GUESTS
              </li>
              <li class="yacht-info-name-item">
                PRICE
              </li>
            </ul>
            <ul class="yachts-info-title-list">
              <li class="yachts-info-title-item">
                48m(155ft)
              </li>
              <li class="yachts-info-title-item">
               Admiral
              </li>
              <li class="yachts-info-title-item">
                2021
              </li>
              <li class="yachts-info-title-item">
               1 in 5 cabins
              <li class="yachts-info-title-item">
               €33,500,000
              </li>
              
              </li>
            </ul>
          </div>
          </div>
        </li>
        <!-- <li class="yacht-card-item">
          <div class="yachts-name-card">
            <div class="yacht-bg"></div>
            <div class="name-yacht-div">
              
            <h3 class="yachts-name-right">BENETTI OASIS 40M BO122</h3>
            <h3 class="yachts-name-left">LUXURY YAHTS</h3>
            </div>
            <div class="yacht-info-div">
            <ul class="yacht-info-name-list">
              <li class="yacht-info-name-item">
                LENGTH
              </li>
              <li class="yacht-info-name-item">
                BUILDER
              </li>
              <li class="yacht-info-name-item">
                BUILT
              </li>
              <li class="yacht-info-name-item">
                GUESTS
              </li>
              <li class="yacht-info-name-item">
                PRICE
              </li>
            </ul>
            <ul class="yachts-info-title-list">
              <li class="yachts-info-title-item">
               41m (133ft)
              </li>
              <li class="yachts-info-title-item">
               Benetti
              </li>
              <li class="yachts-info-title-item">
                2025
              </li>
              <li class="yachts-info-title-item">
               10 in 5 cabins
              <li class="yachts-info-title-item">
               €23,210,000
              </li>
              
              </li>
            </ul>
          </div>
          </div>
        </li> -->
        <!-- <li class="yacht-card-item">
          <div class="yachts-name-card">
            <div class="yacht-bg"></div>
            <div class="name-yacht-div">
              
            <h3 class="yachts-name-right">BELLE ANNA</h3>
            <h3 class="yachts-name-left">LUXURY YAHTS</h3>
            </div>
            <div class="yacht-info-div">
            <ul class="yacht-info-name-list">
              <li class="yacht-info-name-item">
                LENGTH
              </li>
              <li class="yacht-info-name-item">
                BUILDER
              </li>
              <li class="yacht-info-name-item">
                BUILT
              </li>
              <li class="yacht-info-name-item">
                GUESTS
              </li>
              <li class="yacht-info-name-item">
                PRICE
              </li>
            </ul>
            <ul class="yachts-info-title-list">
              <li class="yachts-info-title-item">
                50m(155ft) 
              </li>
              <li class="yachts-info-title-item">
               ISA
              </li>
              <li class="yachts-info-title-item">
              2012
              </li>
              <li class="yachts-info-title-item">
              12 in 6 cabins
              <li class="yachts-info-title-item">
               €21,000,000
              </li> -->
              
              </li>
            </ul>
          </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
